
.card {
    margin-bottom: 20px;

}

table {
    font-size: 10px;
    width: 100%;
    margin-bottom: 30px;
}

table td:nth-child(2n) {
    float: right;
}

.box-table {
    margin-top: 50px;
}

.btn-position {
    margin: 10px;
}

.info-box{
    justify-content: center;
    align-items: center;
}